* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$dark_blue: #062930;
$light_blue: #5371ff;

body {
  font-family: "Raleway", sans-serif;
  background-color: #e6e6e6;
}
.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100%;
  animation: fade-in 2s ease-in-out alternate;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  margin-bottom: 40px;
  position: relative;
  animation: pulse 1s 3s infinite ease-in-out alternate;
}

@keyframes pulse {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1.1);
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.heroTitle {
  margin-bottom: 20px;
  font-size: 100px;
  font-weight: 900;
  text-transform: uppercase;
  color: $dark_blue;
  text-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
  &__fix {
    color: $light_blue;
  }
}

.subTitle {
  font-size: 20px;
  color: $dark_blue;
  text-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

.footer {
  $footer: &;

  background: $dark_blue;
  color: #fff;
  width: 100%;
  font-size: 30px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;

  &__next {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
    display: flex;
    align-items: center;
    flex-direction: column;
    &-pl {
      #{$footer}__top {
        background-color: #ffffff;
      }
      #{$footer}__bottom {
        background-color: #ff0000;
      }
    }
    &-eng {
      background-color: $light_blue;
      font-size: 16px;
      padding: 2px;
      #{$footer}__top {
        background-color: #ddd;
      }
      #{$footer}__bottom {
        background-color: #ddd;
      }
    }
  }

  &__top,
  &__bottom {
    width: 20px;
    height: 10px;
  }
}

@media all and (max-width: 600px) {
  .logo {
    width: 180px;
    height: 150px;
  }
  .heroTitle {
    font-size: 36px;
    margin-bottom: 10px;
  }

  .subTitle {
    font-size: 14px;
  }

  .footer {
    font-size: 18px;
    height: 40px;
  }
}
