*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

$dark_blue: #062930;
$light_blue: #5371ff;

body{
    font-family: 'Raleway', sans-serif;
    background-color: #e6e6e6;
}
.box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100%;
    animation: fade-in 2s ease-in-out alternate;
}

.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.logo{
    margin-bottom: 40px;
    position: relative;
    animation: pulse 1s 3s infinite ease-in-out alternate;
}

@keyframes pulse {
  from { transform: scale(0.9); }
  to { transform: scale(1.1); }
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

.heroTitle{
    margin-bottom: 20px;
    font-size: 200px;
    font-weight: 900;
    text-transform: uppercase;
    color:$dark_blue;
    text-shadow: 0 20px 40px rgba(0,0,0,.5);
    &__fix{
        color: $light_blue;
    }
}

.subTitle{
    font-size: 40px;
    color:$dark_blue;
    text-shadow: 0 20px 40px rgba(0,0,0,.5);
}

.footer{
    background: $dark_blue;
    color: #fff;
    width: 100%;
    font-size: 30px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media all and (max-width: 600px){
    .logo{
        width: 180px;
        height: 150px;
    }
    .heroTitle{
        font-size: 50px;
    }

    .subTitle{
        font-size: 20px;
    }

    .footer{
        font-size: 18px;
        height: 40px;
    }
}